/* Import font family */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap');

/* Global variables */
:root {
    --whitish: rgb(232, 229, 229);
    --blackish: rgb(31, 31, 31);
    --greyish: rgb(84, 83, 83);
    --blueish: rgb(0, 208, 255);
    --red: red;
    --regFont: 'Orbitron', sans-serif;;
}

*{
    font-family: var(--regFont);
}

/* Header code below */
.header{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header .title{
    font-size: 4rem;
    color: var(--greyish);
    text-shadow:
    -1px -1px 0 var(--blueish),
    1px -1px 0 var(--blueish),
    -1px 1px 0 var(--blueish),
    1px 1px 0 var(--blueish);

}


/* Body code */
body{
    background-color: var(--greyish);
}


/* Footer code below */
.footer{
    font-family: var(--regFont);
    background-color: var(--blackish);
    color: var(--whitish);
    padding: 10px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
   
}

.fa-github {
    color: var(--blueish);
    font-size: 20px;
    transition: transform 0.3s ease-in-out;
    margin-left: 5px;
    margin-bottom: 5px;
}

.fa-github:hover {
    transform: rotate(360deg) scale(1.5);
}
