/* Import font family */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap');

/* Global variables */
:root {
    --whitish: rgb(232, 229, 229);
    --blackish: rgb(31, 31, 31);
    --greyish: rgb(84, 83, 83);
    --blueish: rgb(0, 208, 255);
    --orangeish: rgb(255, 111, 0);
    --red: red;
    --regFont: 'Orbitron', sans-serif;;
}

*{
    font-family: var(--regFont);
}

/* Header code below */
.header{
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header .title{
    font-size: 4rem;
    color: var(--greyish);
    text-shadow:
    -1px -1px 0 var(--blueish),
    1px -1px 0 var(--blueish),
    -1px 1px 0 var(--blueish),
    1px 1px 0 var(--blueish);
    border: 2px 2px 2px blur red;

}


/* Body code */
body{
    background-color: var(--greyish);
}

/* Main game code and table code below */
.main{
    display:flex;
    justify-content: center;  
    margin-top: 100px;  
    height: 100%;
}
.container{
    width: 40rem;
    height: 40rem;
}
table {
    width: 100%;
    border-collapse: collapse;
  }
  
  td {
    width: 33.333%;
    border: 6px solid #222;
    padding: 20px;
    cursor: pointer;
  }
  
  td::after {
    content: "";
    display: block;
    margin-top: 100%;
  }
  
  td {
    border: 6px solid #222;
  }
  
  td:first-of-type {
    border-left-color: transparent;
    border-top-color: transparent;
  }
  
  td:nth-of-type(2) {
    border-top-color: transparent;
  }
  
  td:nth-of-type(3) {
    border-right-color: transparent;
    border-top-color: transparent;
  }
  
  tr:nth-of-type(3) td {
    border-bottom-color: transparent;
  }

/* Footer code below */
.footer{
    font-family: var(--regFont);
    background-color: var(--blackish);
    color: var(--orangeish);
    padding: 10px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
}

.fa-github {
    color: var(--blueish);
    font-size: 20px;
    transition: transform 0.3s ease-in-out;
    margin-left: 5px;
    margin-bottom: 5px;
}

.fa-github:hover {
    transform: rotate(360deg) scale(1.5);
}
